
.nodisplay {
    display: none;
    margin: 50px auto;
}

table{
	margin: 0 auto;
	text-align: left;
}

table th {
    width: 75px;
}

.input_domrno {
	width:300px;
	margin-right: 10px;
}

.input_name {
	width:300px;
}
.input_addr {
	width:300px;
}
.input_time {
	width:50px;
}
textarea {
	width:300px;
	height:450px;
	resize :none;
}
input:focus {
	outline : none;
}
textarea:focus {
	outline : none;
}

.fl_between {
	margin-top: 20px;
    display: flex;
    justify-content: center;
}

.fl_between button {
	margin: 10px;
	width: 100px;
}


/*room*/
#r_dorm_no{
	font-size: 700;
}

#btn_dormSelect, #btn_dormClose{
	 width: 80px;
	 margin:  10px;
}

.hidden{
	display:none;
}

#dorm_list{
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -200px;
	width: 400px;
	height: 400px;
	overflow-y : scroll;
	border: 1px solid black;
	background-color: white;
	text-align: center;
}